


<!--<app-header></app-header>-->
<!--<router-outlet></router-outlet>-->


<mat-toolbar color="primary">
  <button mat-icon-button (click)="goBack()" aria-label="Retour">
   <mat-icon>arrow_back</mat-icon>
  </button>
<!--  <span>LOC MNS</span>-->
  <button mat-raised-button color="primary">GESTION MNS</button>
<!--  <boutton mat-raised-button color="primary" > LOC MNS</boutton>-->
  <span class="example-spacer"></span>
  <button mat-raised-button color="primary"  (click)="openDialog()"   >Ajouter un Materiel</button>
</mat-toolbar>

<div class="container">
  <div style="margin-top: 10px">
    <mat-form-field>
      <mat-label>Chercher un materiel</mat-label>
      <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Ordinateur" #input>
    </mat-form-field>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="dataSource" matSort>

        <!-- ID Column -->
        <ng-container matColumnDef="materielId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Identifiant </th>
          <td mat-cell *matCellDef="let row"> {{row.materielId}} </td>
        </ng-container>
        <!-- Progress Column -->
        <ng-container matColumnDef="materielMarque">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Marque </th>
<!--          <td mat-cell *matCellDef="let row"> {{row.materielMarque}}% </td>-->
          <td mat-cell *matCellDef="let row"> {{row.materielMarque.replace('%', '')}} </td>
        </ng-container>
        <!-- Fruit Column -->
        <ng-container matColumnDef="materielRef">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Reference </th>
          <td mat-cell *matCellDef="let row"> {{row.materielRef}} </td>
        </ng-container>
        <!-- Name Column -->
        <ng-container matColumnDef="date">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>  Date</th>
          <td mat-cell *matCellDef="let row"> {{row.date | date}} </td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="materielDescription">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Description</th>
          <td mat-cell *matCellDef="let row"> {{row.materielDescription}} </td>
        </ng-container>

        <!-- Fruit Column -->
        <ng-container matColumnDef="locId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Localisation</th>
          <td mat-cell *matCellDef="let row"> {{row.localisation.locLieu}} </td>
        </ng-container>

        <ng-container matColumnDef="typeId">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Categorie </th>
          <td mat-cell *matCellDef="let row"> {{row.type?.typeLibelle}} </td>
        </ng-container>

        <ng-container matColumnDef="materielQuantite">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Stock</th>
          <td mat-cell *matCellDef="let row"> {{row.materielQuantite}} </td>
        </ng-container>

        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef mat-sort-header> Action</th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button (click)="updateMateriel(row)" color="primary">
              <mat-icon>edit</mat-icon>
            </button>

            <button  mat-icon-button (click)="deleteMateriel(row.materielId)"  color="warn">
              <mat-icon>delete</mat-icon>
            </button>
          </td>
        </ng-container>


        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

        <!-- Row shown when there is no matching data. -->
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
        </tr>
      </table>

    </div>
<!--    <mat-paginator [pageSizeOptions]="[]" aria-label="Select page of users"></mat-paginator>-->
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" aria-label="Select page of users"></mat-paginator>
<!--    <button mat-raised-button color="warn"  (click)="openDialog()">Ajouter un Materiel</button>-->
  </div>

</div>
