



<!doctype html>
<html lang="fr">
<head>
  <meta charset="utf-8">
  <title>LOGIN FORM</title>
  <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/a81368914c.js"></script>
  <link rel="icon" href="https://www.flaticon.com/premium-icon/icons/svg/1058/1058927.svg">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
</head>

<body >
<div class="container"  style=  " width: 400vw; height: 100vh; display: flex; justify-content: center; align-items: center;">
  <div class="img">
  </div>
  <div class="login-content">
    <form #loginForm="ngForm" (ngSubmit)="login(loginForm)">
      <div style="width: 23vw; height: 20vh; display: flex; justify-content: center; align-items: center;">
        <img src="../../../assets/avatar.svg" style="width: 200%; height:80%;" />
      </div>
      <h2 class="title">BIENVENUE</h2>
      <div class="input-div one">
        <div class="i">
          <i class="fas fa-user"></i>
        </div>
        <div class="div">
          <input type="text" class="input" name="userName" ngModel>
        </div>
      </div>
      <div class="input-div pass">
        <div class="i">
          <i class="fas fa-lock"></i>
        </div>
        <div class="div">
          <input type="password" class="input" name="userPassword" ngModel>
        </div>
      </div>
      <a routerLink="/inscription">S'INSCRIRE</a>
      <button type="submit" class="btn">LOGIN</button>
    </form>
  </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.7.9/angular.min.js"></script>

<script>



  const inputs = document.querySelectorAll(".input");


  function addcl(){
    let parent = this.parentNode.parentNode;
    parent.classList.add("focus");
  }

  function remcl(){
    let parent = this.parentNode.parentNode;
    if(this.value == ""){
      parent.classList.remove("focus");
    }
  }


  inputs.forEach(input => {
    input.addEventListener("focus", addcl);
    input.addEventListener("blur", remcl);
  });

</script>




