


<!--<div *ngIf="showEditForm">-->
<!--  <h2>Modifier le matériel</h2>-->
<!--  <form (ngSubmit)="updateMateriel()" #editForm="ngForm">-->
<!--    <mat-form-field>-->
<!--      <input matInput placeholder="Marque" name="materielMarque" [(ngModel)]="selectedMateriel.materielMarque" required>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field>-->
<!--      <input matInput placeholder="Référence" name="materielRef" [(ngModel)]="selectedMateriel.materielRef" required>-->
<!--    </mat-form-field>-->
<!--    <mat-form-field>-->
<!--      <mat-label>Localisation</mat-label>-->
<!--      <mat-select name="localisation" [(ngModel)]="selectedMateriel.localisation">-->
<!--        <mat-option *ngFor="let loc of localisations" [value]="loc">{{loc.locLieu}}</mat-option>-->
<!--      </mat-select>-->
<!--    </mat-form-field>-->
<!--    <button mat-raised-button color="primary" type="submit" [disabled]="!editForm.valid">Modifier</button>-->
<!--  </form>-->
<!--</div>-->
